$black-text-900: #282B22;
$black-text-800: #3D4A39;
$white-text: #fff;
$button-primary-700: #AE7B3C;
$text-opacity-800: 0.8;
$text-opacity-500: 0.5;
$drop-shadow-for-icons: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
